<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>longitude</key>
		<real>-79.383774</real>
		<key>latitude</key>
		<real>43.719472</real>
		<key>name</key>
		<string>Toronto</string>
		<key>image</key>
		<string>tab-toronto.jpg</string>
		<key>image_on</key>
		<string>tab-toronto-on.jpg</string>
		<key>properties</key>
		<array>
			<dict>
				<key>longitude</key>
				<real>-79.410574</real>
				<key>latitude</key>
				<real>43.761331</real>
				<key>name</key>
				<string>Spring</string>
				<key>header_image</key>
				<string>header-1.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>bubbles</key>
						<array>
							<dict>
								<key>x</key>
								<integer>150</integer>
								<key>y</key>
								<integer>100</integer>
								<key>text</key>
								<string>Amazing something</string>
							</dict>
							<dict>
								<key>x</key>
								<integer>200</integer>
								<key>y</key>
								<integer>150</integer>
								<key>text</key>
								<string>Yay for my condo</string>
							</dict>
							<dict>
								<key>x</key>
								<integer>50</integer>
								<key>y</key>
								<integer>75</integer>
								<key>text</key>
								<string>Awesome floors</string>
							</dict>
						</array>
						<key>virtual_tour</key>
						<string>virtual-1.jpg</string>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
					<dict>
						<key>virtual_tour</key>
						<string>virtual-2.jpg</string>
						<key>image</key>
						<string>floorplan-2.png</string>
					</dict>
					<dict>
						<key>virtual_tour</key>
						<string>virtual-3.jpg</string>
						<key>image</key>
						<string>floorplan-3.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>longitude</key>
				<real>-79.406004</real>
				<key>latitude</key>
				<real>43.642908</real>
				<key>name</key>
				<string>King West</string>
				<key>header_image</key>
				<string>header-1.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>bubbles</key>
						<array>
							<dict>
								<key>x</key>
								<integer>150</integer>
								<key>y</key>
								<integer>100</integer>
								<key>text</key>
								<string>Amazing something</string>
							</dict>
							<dict>
								<key>x</key>
								<integer>200</integer>
								<key>y</key>
								<integer>150</integer>
								<key>text</key>
								<string>Yay for my condo</string>
							</dict>
							<dict>
								<key>x</key>
								<integer>50</integer>
								<key>y</key>
								<integer>75</integer>
								<key>text</key>
								<string>Awesome floors</string>
							</dict>
						</array>
						<key>virtual_tour</key>
						<string>virtual-1.jpg</string>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
					<dict>
						<key>virtual_tour</key>
						<string>virtual-2.jpg</string>
						<key>image</key>
						<string>floorplan-2.png</string>
					</dict>
					<dict>
						<key>virtual_tour</key>
						<string>virtual-3.jpg</string>
						<key>image</key>
						<string>floorplan-3.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>latitude</key>
				<real>43.684601</real>
				<key>longitude</key>
				<real>-79.357209</real>
				<key>name</key>
				<string>Skyy</string>
				<key>header_image</key>
				<string>header-2.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>latitude</key>
				<real>43.668182</real>
				<key>longitude</key>
				<real>-79.390168</real>
				<key>name</key>
				<string>The St. Thomas</string>
				<key>header_image</key>
				<string>header-3.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>latitude</key>
				<real>43.705639</real>
				<key>longitude</key>
				<real>-79.397206</real>
				<key>name</key>
				<string>Midtown</string>
				<key>header_image</key>
				<string>header-1.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>virtual_tour</key>
						<string>virtual-1.jpg</string>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
					<dict>
						<key>virtual_tour</key>
						<string>virtual-2.jpg</string>
						<key>image</key>
						<string>floorplan-2.png</string>
					</dict>
					<dict>
						<key>virtual_tour</key>
						<string>virtual-3.jpg</string>
						<key>image</key>
						<string>floorplan-3.png</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<real>43.719472</real>
		<key>longitude</key>
		<real>-79.383774</real>
		<key>name</key>
		<string>Ottawa</string>
		<key>image</key>
		<string>tab-ottawa.jpg</string>
		<key>image_on</key>
		<string>tab-ottawa-on.jpg</string>
		<key>properties</key>
		<array>
			<dict>
				<key>name</key>
				<string>King West</string>
				<key>image</key>
				<string>king-west.jpg</string>
				<key>header_image</key>
				<string>header-king-west.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Skyy</string>
				<key>menu_image</key>
				<string>tab-skyy.jpg</string>
				<key>header_image</key>
				<string>header-skyy.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>The St. Thomas</string>
				<key>menu_image</key>
				<string>st-thomas.jpg</string>
				<key>header_image</key>
				<string>header-st-thomas.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Midtown</string>
				<key>menu_image</key>
				<string>midtown.jpg</string>
				<key>header_image</key>
				<string>header-midtown.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
					<dict>
						<key>image</key>
						<string>floorplan-2.png</string>
					</dict>
					<dict>
						<key>image</key>
						<string>floorplan-3.png</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<real>43.719472</real>
		<key>longitude</key>
		<real>-79.383774</real>
		<key>name</key>
		<string>Florida</string>
		<key>image</key>
		<string>tab-florida.jpg</string>
		<key>header_image</key>
		<string>tab-florida-on.jpg</string>
		<key>properties</key>
		<array>
			<dict>
				<key>name</key>
				<string>King West</string>
				<key>image</key>
				<string>king-west.jpg</string>
				<key>header_image</key>
				<string>header-king-west.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Skyy</string>
				<key>menu_image</key>
				<string>tab-skyy.jpg</string>
				<key>header_image</key>
				<string>header-skyy.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>The St. Thomas</string>
				<key>menu_image</key>
				<string>st-thomas.jpg</string>
				<key>header_image</key>
				<string>header-st-thomas.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Midtown</string>
				<key>menu_image</key>
				<string>midtown.jpg</string>
				<key>header_image</key>
				<string>header-midtown.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
					<dict>
						<key>image</key>
						<string>floorplan-2.png</string>
					</dict>
					<dict>
						<key>image</key>
						<string>floorplan-3.png</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<real>43.719472</real>
		<key>longitude</key>
		<real>-79.383774</real>
		<key>name</key>
		<string>Rentals</string>
		<key>image</key>
		<string>tab-rentals.jpg</string>
		<key>header_image</key>
		<string>tab-rentals-on.jpg</string>
		<key>properties</key>
		<array>
			<dict>
				<key>name</key>
				<string>King West</string>
				<key>image</key>
				<string>king-west.jpg</string>
				<key>header_image</key>
				<string>header-king-west.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Skyy</string>
				<key>menu_image</key>
				<string>tab-skyy.jpg</string>
				<key>header_image</key>
				<string>header-skyy.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>The St. Thomas</string>
				<key>menu_image</key>
				<string>st-thomas.jpg</string>
				<key>header_image</key>
				<string>header-st-thomas.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Midtown</string>
				<key>menu_image</key>
				<string>midtown.jpg</string>
				<key>header_image</key>
				<string>header-midtown.jpg</string>
				<key>floorplans</key>
				<array>
					<dict>
						<key>image</key>
						<string>floorplan-1.png</string>
					</dict>
					<dict>
						<key>image</key>
						<string>floorplan-2.png</string>
					</dict>
					<dict>
						<key>image</key>
						<string>floorplan-3.png</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
